.App {
  text-align: center;
}

.headline {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 5px;
}

.intro {
  color: #282c34;
  margin: 2em 10%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
}

.inputLabel {
  margin-inline: 30px;
}

input {
  margin-left: 10px;
  width: 80px;
  height: 30px;
  background: #f3f3f3;
  border: transparent;
  border-radius: 5px;
} 

.button {
  background: #f3f3f3;
  border: transparent;
  border-radius: 2px;
  cursor: crosshair;
  width: 100px;
  margin-inline: 40px;
}

.button_small {
  padding: 5px;
}

.button_large {
  padding: 10px;
  font-size: 14px;
}

button:hover {
  background: linear-gradient(45deg, rgb(217, 226, 247), rgb(175, 182, 214));
}

a {
  color: #5872c7;
}

a:visited {
  color: #df8b8a;
}

a:hover {
  color: #a1abff;
}

a:focus {
  color: #bd6eb6;
}

.gradient {
  height: 100vw;
  padding: 20px;
  background: #83a4d4;
  background: linear-gradient(to left, #92d8db, #83a4d4);
}
